 ## **First round of written assessment for the role of “Data Analyst” for GEAR.**

In [2]:
import numpy as np
import pandas as pd

import warnings 
warnings.filterwarnings(action='ignore')

<font color='blue'> **Let's read data from  an excel file** <font>

In [3]:
read_file = pd.read_excel ("Data\Efficiency Report A Shift-JANUARY-19.xls")
df=read_file.copy()
df.head(5)

,Unnamed: 0,Report Date :,Unnamed: 2,2019-01-01 00:00:00,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,"Tgt. By GSD SAM, & L/C.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Avr. Work Hrs,NaN,NPT Sum for,Output sum for,NaN,NaN,NaN,NaN,NaN,NaN
1,Efficiency is Prodn./Target.,NaN,NaN,NaN,NaN,NaN,NaN,Output / RW target,NaN,NaN,...,Line wise smry,Line wise smry,Line wise smry,Line wise smry,Linewise,NaN,NaN,NaN,NaN,NaN
2,Line,Buyer,Style #,DPI No #,SMV@100%,LINE,Line,Line,Target,Target,...,Working,OT Hrs,NPT Hrs,Total Out Put,Target,Loss In Pcs,Avlbl minute,Earn minute,Plan Avlbl minutes,Plan Earn minutes
3,#,NaN,NaN,NaN,NaN,W I P,Output,Target,efficiency,Achive %,...,Hours,NaN,NaN,NaN,NaN,For NPT,NaN,NaN,NaN,NaN
4,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<font color='blue'> **Let's count actual manpower** <font>

In [4]:
# According to report: 1
df.rename(columns = {'Unnamed: 19':"Attend Manpwr"}, inplace = True)
amp1=df["Attend Manpwr"][5:30].dropna().sum()
amp1

414

In [5]:
# According to report: 2
amp2=df["Attend Manpwr"][44:69].dropna().sum()
amp2

414

<font color='blue'> **Let's count number of Buyer** <font>

In [6]:
# According to report: 1
df.rename(columns = {'Report Date :':"Buyer"}, inplace = True)
B1=df["Buyer"][5:30].dropna().count()
B1

12

In [7]:
# According to report: 2
B2=df["Buyer"][44:69].dropna().count()
B2

15

<font color='blue'> **Let's count number of Line** <font>

In [8]:
# According to report: 1
df.rename(columns = {'Unnamed: 0':"Line"}, inplace = True)
line1=df["Line"][4:32].dropna().count()
line1

10

In [9]:
# According to report: 2
line2=df["Line"][43:71].dropna().count()
line2

10

<font color='blue'> **Let's count number of Style** <font>

In [10]:
# According to report: 1
df.rename(columns = {'Unnamed: 2':"Style"}, inplace = True)
st1=df["Style"][5:30].dropna().count()
st1

12

In [11]:
# According to report: 2
st2=df["Style"][44:69].dropna().count()
st2

15

<font color='blue'> **Let's count number of Order** <font>

In [13]:
df1=read_file.copy()
for i in range(0,3):
    update_df=df1.rename(columns=df.iloc[i]).drop(df.index[i])

In [14]:
# According to report: 1
update_df.rename(columns = {'DPI No #':"DPI No"}, inplace = True)
order_1=update_df["DPI No"][5:30].dropna().count()
order_1

11

In [15]:
# According to report: 2
order_2=update_df["DPI No"][43:69].dropna().count()
order_2

15

<font color='blue'> **Let's count number of  smv** <font>

In [16]:
# According to report: 1
df.rename(columns = {'Unnamed: 4':"SMV"}, inplace = True)
smv1=df["SMV"][5:30].dropna().sum()
smv1

108.42

In [17]:
# According to report: 2
smv2=df["SMV"][44:69].dropna().sum()
smv2

136.52

<font color='blue'> **Let's calculate Manual Target** <font>

In [18]:
# According to report: 1
df.rename(columns = {'Unnamed: 22':"Manual Target"}, inplace = True)
mt1=df["Manual Target"][5:30].dropna().sum()
mt1

14095

In [19]:
# According to report: 2
mt2=df["Manual Target"][44:69].dropna().sum()
mt2

15890

<font color='blue'> **Let's calculate lost_mins** <font>

In [20]:
# According to report: 1
df.rename(columns = {'Unnamed: 14':"NPT_Hrs"}, inplace = True)
min1=df["NPT_Hrs"][5:30].dropna().sum()
min1

0

In [21]:
# According to report: 2
min2=df["NPT_Hrs"][44:69].dropna().sum()
min2

0

<font color='blue'> **Let's calculate Line Output** <font>

In [22]:
# According to report: 1
df.rename(columns = {'Unnamed: 6':"Line Output"}, inplace = True)
day_out1=df["Line Output"][5:30].dropna().sum()
day_out1

13936

In [23]:
# According to report: 2
day_out2=df["Line Output"][44:69].dropna().sum()
day_out2

15779

<font color='blue'> **Let's calculate Total_Atten.Hrs** <font>

In [24]:
# According to report: 1
df.rename(columns = {'Unnamed: 16':"Total_Atten.Hrs"}, inplace = True)
av_min1=df["Total_Atten.Hrs"][5:30].dropna().sum()
av_min1

4140

In [25]:
# According to report: 2
av_min2=df["Total_Atten.Hrs"][44:69].dropna().sum()
av_min2

4140

<font color='blue'> **Let's calculate output_mins** <font>

In [26]:
# According to report: 1
out_min1=day_out1*smv1
out_min1

1510941.12

In [27]:
# According to report: 2
out_min2=day_out2*smv2
out_min2

2154149.08

<font color='blue'> **Let's calculate target_mins** <font>

In [28]:
# According to report: 1
target_mins_1=mt1*smv1
target_mins_1

1528179.9000000001

In [29]:
# According to report: 2
target_mins_2=mt2*smv2
target_mins_2

2169302.8000000003

<font color='blue'> **Let's calculate hours** <font>

In [30]:
# According to report: 1
hours_1=av_min1/amp1
hours_1

10.0

In [31]:
# According to report: 2
hours_2= av_min2/amp2
hours_2

10.0

<font color='blue'> **Let's draw extracted DataFrame** <font>

In [32]:
Report=['Report No: 1','Report No:2']
extracted_df = pd.DataFrame({'actual_manpower_ttl' : [amp1,amp2],
                       'date' : ['1-Jan-2019', '2-Jan-2019' ],
                       'buyer':[B1,B2],
                       'line':[line1,line2],
                       'style':[st1,st2],
                       'order_no':[order_1,order_2],
                       'smv':[smv1,smv2],
                       #'running_days':[run_day1.run_day_2],
                       #'input_date_cal':[in_date_1,in_date_2],
                       'total_target' : [mt1,mt2],
                       'hours':[hours_1,hours_2],
                       'lost_mins':[min1,min2],
                       'day_output': [day_out1,day_out2],
                       'available_mins':[av_min1*60, av_min2*60],
                       'output_mins': [out_min1,out_min2],
                       'target_mins': [target_mins_1,target_mins_2],
                       
                     },index=Report)
extracted_df

,actual_manpower_ttl,date,buyer,line,style,order_no,smv,total_target,hours,lost_mins,day_output,available_mins,output_mins,target_mins
Report No: 1,414,1-Jan-2019,12,10,12,11,108.42,14095,10.0,0,13936,248400,1510941.12,1528179.9
Report No:2,414,2-Jan-2019,15,10,15,15,136.52,15890,10.0,0,15779,248400,2154149.08,2169302.8

<font color='blue'> **Let's compress the outcomes** <font>

In [112]:
# Compressed the outcomes into a CSV file
extracted_df.to_csv('extracted_file.csv', index=False)